/***** RESET ******/

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/***** GLOBAL VARIABLES ******/

:root {
  --main-background-color: #252525;
  --primary-color: #ffda14;
  --second-color: #7eb600;
  --dark-color: #0d0d0d;
  --light-text-color: #fafafa;
  --secondary-text-color: #c4c4c4;
  --font-family: "Roboto", sans-serif;
}

/***** MAIN VALUES ******/

html,
body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  font-family: var(--font-family);
}

/***** SIGN UP ******/

.signup-container {
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.signUpForm {
  width: 30%;
  height: 75vh;
  background: var(--dark-color);
  margin-top: 50px;
  border-radius: 5px;
}

.signUpTitle {
  text-align: center;
  margin-top: 20px;
  font-family: right;
  font-size: 1.5em;
}

.insideForm {
  text-align: center;
}

label[for="email"],
[for="username"],
[for="password"],
[for="confirmPassword"] {
  text-align: left;
  margin-left: 18%;
  padding: 5px 0;
  font-size: 16px;
}

label[for="email"] {
  margin-top: 5%;
}

.form-check {
  font-size: 13px;
  text-align: left;
  margin-left: 17%;
}

input#confirmPass {
  margin-bottom: 5%;
}

input {
  max-height: 30px;
  margin-left: 25%;
}

.signupBtn {
  margin: 5% 0;
}

p.createAccount {
  font-size: 13px;
  text-align: left;
  margin-left: 17%;
}

/***** T&C & PP ******/

.terms-container,
.privacy-container {
  color: var(--light-text-color);
}

h2.terms-title,
h2.privacy-title {
  text-align: center;
  margin-bottom: 3%;
}

.terms-container h3,
.privacy-container h3 {
  margin: 1.5% 0;
}
