@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/***** RESET ******/

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/***** GLOBAL VARIABLES ******/

:root {
  --main-background-color: #252525;
  --primary-color: #ffda14;
  --secondary-color: #00e6ff;
  --dark-color: #0d0d0d;
  --light-text-color: #fafafa;
  --secondary-text-color: #c4c4c4;
  --danger-color: #ff4136;
  --font-family: "Roboto", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}

/***** MAIN VALUES ******/

html,
body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  font-family: var(--font-family);
  color: var(--light-text-color);
  position: relative;
}

.content {
  height: 100%;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 0;
  background-color: var(--secondary-text-color);
}

.bg-main {
  background-color: var(--main-background-color);
}

.pt-56 {
  padding-top: 56px;
}

.fs-0 {
  font-size: 0;
}

.hover-underline:hover {
  text-decoration: underline;
}

.to-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fs-small {
  font-size: 12px;
}

.fs-medium {
  font-size: 14px;
}

.fs-big {
  font-size: 1.25rem;
}

.fc-secondary-text {
  color: var(--secondary-text-color);
}

.h-0 {
  height: 0;
}

.white-space-normal {
  white-space: normal;
}

.bg-secondary-text {
  background-color: var(--secondary-text-color);
}

.ff-heading {
  font-family: var(--heading-font-family);
}

/***** SHARED COMPONENTS ******/

.navbar-brand {
  font-family: "Righteous";
}

.main-footer {
  background-color: var(--secondary-text-color);
  height: 150px;
  color: var(--dark-color);
  font-size: 14px !important;
}

.footer-brand {
  font-family: "Righteous";
  font-size: 1.25rem !important;
}

.review-card-image {
  width: 8rem;
  height: min-content;
  border: 1px var(--light-text-color) solid;
  border-radius: 5px;
}

.card-title {
  font-size: 1.25rem;
  font-family: var(--heading-font-family);
  color: var(--light-text-color);
}

.card-title:hover {
  text-decoration: underline;
}

.review-card-content {
  color: var(--secondary-text-color);
}

.card {
  background-color: var(--dark-color);
  border-radius: 5px;
  font-size: 12px;
  color: var(--light-text-color);
}

.card-stats {
  position: absolute;
  width: 100%;
  font-size: 14px;
  color: var(--secondary-text-color);
  bottom: 0;
}

.log-card-calendar-image {
  filter: invert(100%) sepia(35%) saturate(0%) hue-rotate(319deg)
    brightness(104%) contrast(96%);
}

.edit-profile {
  font-size: 12px;
}

.loading-gif {
  height: 25px;
}

.header-nav {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-nav-element {
  font-size: 14px;
  color: var(--light-text-color);
  background-color: var(--dark-color);
  border-start-end-radius: 5px;
  border-start-start-radius: 5px;
}

.header-nav-selected {
  background-color: var(--main-background-color);
}

.header-numbers {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.header-numbers-element {
  background-color: var(--dark-color);
  color: var(--secondary-text-color);
}

.header-numbers-element-selected,
.header-numbers-element:hover {
  color: var(--light-text-color);
}

.header-numbers-text-bottom {
  font-size: 12px;
}

/***** HOME ******/

.main-navbar {
  background-color: var(--dark-color);
}

.searchbar {
  position: absolute;
  width: 30%;
  left: 50%;
  transform: translate(-50%);
}

.navbar-link {
  font-size: 0.875rem;
}

.searchbar-input {
  background-color: var(--light-text-color);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  border-right-width: 0ch;
}

.searchbar-span {
  background-color: var(--light-text-color);
  border-radius: 0;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.dropdown-dark {
  background-color: var(--main-background-color);
  padding: 0;
  overflow: hidden;
}

.dropdown-scrollable {
  overflow-y: auto;
  max-height: 150px;
}

.dropdown-item {
  font-size: 0.875rem;
  color: var(--light-text-color);
}

.profile-dropdown-toggle {
  color: var(--secondary-text-color);
  font-size: 0.875rem;
}

.profile-dropdown-toggle:hover {
  color: var(--light-text-color);
}

.profile-dropdown-toggle:focus {
  color: var(--secondary-text-color);
}

.header {
  background-color: var(--dark-color);
  height: 100vh;
  position: relative;
}

.header-text {
  color: var(--light-text-color);
  font-family: var(--heading-font-family);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

mark {
  color: var(--primary-color);
  background: none;
}

.mark-secondary {
  color: var(--secondary-color);
}

/***** SIGN UP / LOGIN ******/

.access-container {
  color: var(--light-text-color);
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.access-form {
  width: 100%;
  height: 100%;
  background: var(--dark-color);
  border-radius: 5px;
  padding: 15px 40px;
}

.access-title {
  font-family: "Righteous";
  font-size: 1.5em;
}

.inside-access-form {
  text-align: left;
}

label[for="email"],
[for="data"],
[for="username"],
[for="password"],
[for="location"],
[for="website"],
[for="confirmPassword"] {
  font-size: 14px;
  position: relative;
}

.form-check {
  font-size: 12px;
}

input {
  max-height: 30px;
  width: 100%;
}

p.choose-other-access-option {
  font-size: 12px;
}

.small-footer {
  font-size: 12px;
}

.forgot-password {
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-40%);
}

/***** T&C & PP ******/

.terms-container,
.privacy-container {
  color: var(--light-text-color);
  margin: 2%;
}

h2.terms-title,
h2.privacy-title {
  text-align: center;
  margin-bottom: 3%;
}

.terms-container h3,
.privacy-container h3 {
  margin: 1.5% 0;
}

/***** FORGOT PASSWORD ******/

.forgot-container {
  color: var(--light-text-color);
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 20%;
}

.forgot-form {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 100px 30px;
  background: var(--dark-color);
  border-radius: 5px;
}

/***** PROFILE PAGE ******/

.profile-header {
  background-color: var(--dark-color);
  color: var(--light-text-color);
}

.rs-nav-item-content {
  color: white !important;
  font-weight: bold;
}
.rs-nav-item-content:hover {
  color: black !important;
}

.profile-pic {
  height: 150px;
  width: auto;
  border-radius: 100%;
  border: 2px var(--light-text-color) solid;
}

.profile-header-info-element {
  color: var(--secondary-text-color);
  font-size: 12px;
}

.profile-header-info-button {
  font-size: 12px;
}

.section-heading {
  font-size: 1.25rem;
}

.section-separator {
  border: 1px var(--secondary-text-color) solid;
}

.podcast-column {
  height: auto;
  width: 100%;
}

.podcast-column-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.podcast-column-image:hover {
  opacity: 0.8;
}

.podcast-column-listeners {
  color: var(--light-text-color);
}

.podcast-column-likes {
  color: var(--light-text-color);
}

.error-container {
  min-height: 40vh;
}

.error-status-code-div {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12rem;
  height: 12rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--danger-color);
  border: 2px solid var(--light-text-color);
}

.error-status-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.user-list-profile-pic {
  height: 3rem;
  width: auto;
  border-radius: 100%;
  border: 2px var(--light-text-color) solid;
}

.podcast-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  justify-content: space-between;
  grid-gap: 0.5rem;
}

.podcast-grid-element {
  width: 150px;
  position: relative;
}

.podcast-grid-element-upper-section {
  height: 150px;
  overflow: hidden;
}

.podcast-grid-element-img {
  border-radius: 5px;
  object-fit: fill;
}

.podcast-grid-element-title {
  position: absolute;
  top: 0;
}

/***** EPISODE PAGE ******/

.episode-header {
  background-color: var(--dark-color);
  color: var(--light-text-color);
}

.episode-thumbnail {
  height: 150px;
  width: auto;
  border-radius: 5px;
  border: 2px var(--light-text-color) solid;
}

.episode-header-info-element {
  color: var(--secondary-text-color);
  font-size: 12px;
}
