@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/***** RESET ******/

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/***** GLOBAL VARIABLES ******/

:root {
  --main-background-color: #252525;
  --primary-color: #ffda14;
  --second-color: #7eb600;
  --dark-color: #0d0d0d;
  --light-text-color: #fafafa;
  --secondary-text-color: #c4c4c4;
  --font-family: "Roboto", sans-serif;
}

.navbarBrand {
  font-family: "Righteous";
}

/***** MAIN VALUES ******/

html,
body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  font-family: var(--font-family);
  position: relative;
}

/***** HOME ******/

.searchbar {
  position: absolute;
  width: 30%;
  left: 50%;
  transform: translate(-50%);
}

.navbarLink {
  font-size: 0.875rem;
}

.searchbarInput {
  background-color: var(--light-text-color);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  border-right-width: 0ch;
}

.searchbarSpan {
  background-color: var(--light-text-color);
  border-radius: 0;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.profileDropdownMenu {
  background-color: var(--main-background-color);
}

.profileDropdownItem {
  font-size: 0.875rem;
  color: var(--light-text-color);
  text-align: center;
}

.profileDropdownItem:hover {
  background-color: var(--primary-color);
}

.profileDropdownToggle {
  color: var(--light-text-color);
  font-size: 0.875rem;
}

.profileDropdownToggle:hover {
  color: var(--primary-color);
}

/***** SIGN UP / LOGIN ******/

.access-container {
  color: var(--light-text-color);
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 20%;
}

.access-form {
  width: 100%;
  height: 100%;
  background: var(--dark-color);
  border-radius: 5px;
  padding: 25px 40px;
}

.access-title {
  font-family: "Righteous";
  font-size: 1.5em;
}

.inside-access-form {
  text-align: left;
}

label[for="email"],
[for="username"],
[for="password"],
[for="confirmPassword"] {
  font-size: 16px;
  position: relative;
}

.form-check {
  font-size: 13px;
}

input {
  max-height: 30px;
}

.access-btn {
  width: 100%;
}

p.choose-other-access-option {
  font-size: 13px;
}

.small-footer {
  font-size: 13px;
}

.forgot-password {
  font-size: 13px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-45%);
}

/***** T&C & PP ******/

.terms-container,
.privacy-container {
  color: var(--light-text-color);
  margin: 2%;
}

h2.terms-title,
h2.privacy-title {
  text-align: center;
  margin-bottom: 3%;
}

.terms-container h3,
.privacy-container h3 {
  margin: 1.5% 0;
}
