$theme-colors: (
  "primary": #ffda14,
  "secondary": #7eb600,
  "danger": #ff4136,
  "light": #fafafa,
  "dark": #0d0d0d,
);

$secondary-text-color: #c4c4c4;

.text-secondary-text-color {
  color: $secondary-text-color;
  &:hover {
    color: lighten($secondary-text-color, 20%);
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap";
